<app-header>
<mat-tab-group dynamicHeight>
  <mat-tab label="User Profile">
    <div class="example-small-box mat-elevation-z4">
      Username
      Password
    </div>
  </mat-tab>
  <mat-tab label="eCTDXpress">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="Publisher">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
    <mat-tab label="Viewer">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="Administration">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="VLM">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>

</mat-tab-group>
